<link rel="stylesheet" href="/assets/css/style.css">

<div class='fullpage' id='page1'>
  <div class='container'>
    <div class='row'>
      <div class='col-5'>
        <name>Yuki</name>
      </div>
      <div class='col-7'>
         <img class="img-fluid rounded-circle" src="/assets/images/me.png"  > 
      </div>
    </div>
    <div class='row'>
      <div class='col-1'>

      </div>
      <div class='col-8'>
        <name>Nakano</name>
      </div>
    </div>
    <div class='row'>
      <div class='col-3'>

      </div>
      <div class='col-7'>
        <h1>Welcome to my website</h1>
      </div>
    </div>
    <div class='row'>
      
    </div>

  </div>

</div>
<div class='fullpage' id='page2'>
  <div class='container'>
    <div class='row'>
      <div class='col-12'>
        <name>Who am I?</name>
      </div>

    </div>
    <div class='row'>
      <div class='col-8'>
        <h2> I am a Freelance developer with a versatile skill set with knowledge in both front end and back end web development</h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-4'></div>
      <div class='col-8'>
        <h2>With a skill set to create a full stack web applications</h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-6'>

      </div>
      <div class='col-6'>
        <h2>not only able to create web site, but can program with many other langugaes!</h2>
      </div>
    </div>
  </div>
</div>
<div class='fullpage' id='page3'>
  <div class='container'>
    <div class='row'>
      <div class='col-8'>

      </div>
      <div class='col-4'>
        <name>Skill</name>
      </div>
    </div>
    <div class='row'>
      <div class='col-6'>

      </div>
      <div class='col-4'>
        <name>Set</name>
      </div>
    </div>
    <div class='row'>
      <div class='col-2'>

      </div>
      <div class='col-2'>
        <name>includes!</name>
      </div>
    </div>
    <div class='row'>
      <div class='col-2'>

      </div>
      <div class='col-2'>
        <h2>HTML5, CSS3, JavaScript, jQuery, Bootstrap, Express.js, React.js, Node.js, Moments.js, Database Theory, MongoDB, MySQL, Angular</h2>
      </div>
      <div class='col-4'>

      </div>
      <div class='col-1'>
        <h2>Java, C++, C#, Unity Game Engine, Unreal Engine 4</h2>
      </div>
    </div>
  </div>

</div>