<link rel="stylesheet" href="/assets/css/style.css">

<div class='fullpage' id='page1'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-5'>
        <Bname>Yuki</Bname>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-1'>

      </div>
      <div class='col-sm-8'>
        <Bname>Nakano</Bname>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-3'>
        
      </div>
      <div class='col-sm-7'>
        <h1>Welcome to my website!</h1>
      </div>
    </div>


  </div>

</div>
<div class='fullpage' id='page2'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-12'>
        <name>Who am I?</name>
      </div>

    </div>
    <div class='row'>
      <div class='col-sm-8'>
        <h2> I am a freelance developer with a versatile skill set with knowledge in both front end and back end web development</h2>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-3'><img class="img-fluid rounded-circle" src="/assets/images/me.png"></div>
      <div class='col-sm-8'>
        <h2>With a skill set to create a full stack web applications </h2>
        <h2>Not only able to create web applications, but also able to program in many other languages!</h2>
      </div>
    </div>
    <div class='row'>

      <div class='col-sm-6'>
        <h2></h2>
      </div>
    </div>
  </div>
</div>
<div class='fullpage' id='page3'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-4'>
        <name>Skill</name>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-1'></div>

      <div class='col-sm-10'>
        <name>includes!</name>
      </div>
    </div>
    <div class='row'>
      <div class='col-sm-2'>

      </div>
      <div class='col-sm-12'>
        <h2>HTML5, CSS3, JavaScript, jQuery, Bootstrap, Express.js, React.js,</h2>
        <h2>Node.js, Moments.js, MongoDB, MySQL, Angular, Java, C++, C#</h2>
        <h2>Unity Game Engine, Unreal Engine 4</h2>
      </div>
    </div>
  </div>
</div>
<div class='fullpage' id='page4'>
  <div class='container'>
    <div class='row'>

    </div>
    <name>Websites Made</name>
    <div class='row'>
      <div class='col-sm-12'>
        <h3>
          <a href='https://yankwong.github.io/mmo-fun/'>Poker game</a> - collaboration with D.J., Andy, and Yash </h3>
      </div>

    </div>
    <div class='row'>
      <div class='col-sm-12'>
        <h3>
          <a href='https://dunk-typing-game.herokuapp.com/'>Typing game</a>
        </h3>
      </div>

    </div>
    <div class='row'>
      <div class='col-sm-12'>
        <h3>
          <a href='https://dismes.github.io/ResponsivePortfolio/'>Responsive Portfolio</a> created using bootstrap4</h3>
      </div>

    </div>
    <div class='row'>
      <div class='col-sm-12'>
        <h3>
          <a href='https://dismes.github.io/Week_4_Ez/'> Guessing game</a>- game in which you must pick find out what each value is worth and add make it to the total</h3>
      </div>

    </div>
    <div class='row'>
      <div class='col-sm-12'>
        <h3>
          <a href='https://dismes.github.io/GIPHY-API/'>Picture Search</a> - application allows you to create a button and search for that term</h3>
      </div>

    </div>
    <div class='row'>
      <div class='col-sm-12'>
        <h3>
          <a href='https://d20-roller.herokuapp.com/'>d20 dice roller!</a>
        </h3>
      </div>
    </div>
  </div>

</div>
<div class='fullpage' id='page5'>
  <div class='container'>
    <div class='row'>
      <name>Contact Me!</name>
    </div>
    <div class='row'>
      <div class='col-sm-4'>
        <a href='https://github.com/Dismes'>
          <img class="img-fluid rounded-circle" src="/assets/images/github-128.png">
        </a>
      </div>
      <div class='col-sm-4'>
        <a href='https://www.linkedin.com/in/yuki-nakano-607096b2/'>
          <img class="img-fluid rounded-circle" src="/assets/images/linkedin-128.png">
        </a>
      </div>
      <div class='col-sm-2'>
        <a href='mailto:yuhki.n@gmail.com' target="_top">
          <h3>yuhki.n@gmail.com</h3>
        </a>
      </div>
    </div>
  </div>
</div>