html,
body {
    height: 100%;
}

name {
    font-family: impact;
    font-size: 300%;
}

#page1 {
    background-color: #ff6100;
}

#page2 {
    background-color: #701099;
}

#page3 {
    background-color: #03c19e;
    padding-top: 3%;
}

#page4 {
    background-color: #c40f97;
}

#page5 {
    background-color: #cde03e
}

.bottom {
    position: absolute;
    bottom: 10%;
    left: 43%
}

.arrow{
    position: absolute;
    bottom: 0;
    left: 48%
}

.fullpage {
    height: 100%;
    padding-top: 5%;
    overflow: auto
}

@media screen and (min-width: 576px) {
    name {
        font-size: 500%;
    }
}