#name{
   
}

html, body { height: 100%; }

.fullpage{
    height:100%;
    padding-top: 10%;
}

#page1{
    background-color: #ff6100;
}
#page2{
    background-color: #701099;
}
name{
    font-size: 600%;
    font-family: impact;
}
#page3{
    background-color:#03c19e;
    padding-top: 3%;
}
#page4{
    background-color: #c40f97;

}
#page5{
    background-color: #cde03e
}