html,
body {
    
  
}

.MainContainer{
    height: 500%;
}

Bname{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 600%;

}
name {
    font-family: impact;
    font-size: 300%;
}

#page1 {
    color: aliceblue;
    height: 100%;
    background-color: Red;
}

#page2 {
    height: 100%;
    background-color: orange;
}


#page3 {
    background-color: yellow;
   color: #87aeed;


}

#page4 {
    background-color: green;
    color:white;
}

#page5 {
    background-color: lightblue;

}

.bottom {
    position: absolute;
    bottom: 10%;
    left: 43%
}

.arrow{
    position: absolute;
    bottom: 0;
    left: 48%
}

.fullpage {
    
    padding-top: 5%;
    
}

@media screen and (min-width: 576px) {
    name {
        font-size: 400%;
    }
}

@media screen and (min-width: 576px) {
    Bname{
     
        font-size: 1600%;
    
    }
}